@import "tailwindcss";

@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

/* Global styles */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: #212121;
  color: white;
}

/* Custom Material overrides */
.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
